html,
body {
    height: 100%;
    margin: 0;
}

.flexwrap {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.flexwrap>.block {
    padding: 5px;
}

nav {
    flex: 0 1 auto;
}

.top {
    flex: 0 1 auto;
}

.body {
    flex: 1 1 auto;
    margin: 0px;
}

.map {
    margin: auto 0;
}

.row>.col {
    height: 100%;
}

.container>section>h5 {
    color: white;
    font-weight: bold;
}

i {
    border-radius: 15px;
}

#legend>.label {
    font-size: .75rem;
}

.collapsible>li>.collapsible-body {
    max-height: 20vh;
    overflow-y: auto;
    padding: .5rem;
    background: white;
    border-radius: 7.5px;
}

.collapsible {
    border-radius: 7.5px;
    background-color: white;
}

.collapsible>li>.collapsible-body>p {
    margin: 0;
}

.collapsible-body {
    font-size: 1rem;
    padding: 5px;
}

.collapsible-body>div>div .row {
    margin: 0;
    padding: 5px;
}

.collapsible-header {
    font-size: 15;
    border-radius: 7.5px;
}

.collapsible-body>div>div .row {
    margin: 0;
    padding: 5px;
}

.collapsible-body>div>.row {
    margin: 0;
}

#chart>canvas {
    background: #fafafa;
    border-radius: 5px;
}

#sidePanel,
#info {
    padding: 10px;
}


/*------app-like scroll bar---------------------*/

::-webkit-scrollbar {
    width: 5px;
    height: 7px;
}

 ::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

 ::-webkit-scrollbar-thumb {
    background: #525965;
    border: 0px none #ffffff;
    border-radius: 10px;
}

 ::-webkit-scrollbar-thumb:hover {
    background: #525965;
}

 ::-webkit-scrollbar-thumb:active {
    background: #525965;
}

 ::-webkit-scrollbar-track {
    background: transparent;
    border: 0px none #ffffff;
    border-radius: 50px;
}

 ::-webkit-scrollbar-track:hover {
    background: transparent;
}

 ::-webkit-scrollbar-track:active {
    background: transparent;
}

 ::-webkit-scrollbar-corner {
    background: transparent;
}

.sidebar-footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
}


/* slider and play */

#play,
#pause {
    border: none;
    border-radius: 1rem;
    -webkit-box-shadow: 0 4px 6px -6px #222;
    -moz-box-shadow: 0 4px 6px -6px #222;
    box-shadow: 0 4px 6px -6px #222;
    margin: .5rem;
}


/***** These are to edit the thumb and the text inside the thumb *****/

input[type=range] {
    border: none;
    border-radius: 5px;
}

input[type=range]::-webkit-slider-thumb {
    background-color: red;
}

input[type=range]::-moz-range-thumb {
    background-color: red;
}

input[type=range]::-ms-thumb {
    background-color: red;
}

input[type=range]+.thumb {
    background-color: white;
    box-shadow: 0 1px 0 0 gray !important
}

input[type=range]+.thumb.active .value {
    color: red;
    font-weight: bold;
}

.input-field input:focus {
    border-bottom: 1px solid white !important;
    box-shadow: 0 1px 0 0 black !important
}

.input-field input:focus+label {
    color: white !important;
}

.dropdown-content li>span {
    color: slategrey;
}


/* ---------- */

#info {
    background-color: white;
    -webkit-box-shadow: 0 4px 6px -6px #222;
    -moz-box-shadow: 0 4px 6px -6px #222;
    box-shadow: 0 4px 6px -6px #222;
}